body div > svg {
  width: 17px;
  height: 17px;
}
#status-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: white;
}
.status-bar_column {
  display: flex;
  align-items: center;
  width: 33%;
}
.status-bar_column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar_column:last-child {
  display: flex;
  justify-content: end;
}
.status-bar_column:last-child span,
.status-bar_column i {
  margin: 0 3px;
}
div:first-child span {
  margin-right: 3px;
}
