.Profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Profile__box {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.Profile__box__image {
  height: 70px;
  width: 70px;
  border-radius: 30%;
}
.Profile__box__image--xl {
  height: 80px;
  width: 80px;
}
.Profile__box__text {
  margin-left: 10px;
}
.Profile__box__text h4 {
  font-size: 16px;
  font-weight: 500;
}
.Profile__box__text h6 {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 350px;
  color: rgba(0, 0, 0, 0.4);
}
.Profile__box__image--sm {
  height: 60px;
  width: 60px;
}
.friends-screen__channel {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
}
.Profile__more {
  display: flex;
  width: 20px;
  color: rgba(0, 0, 0, 0.4);
  justify-content: end;
}
.Profile__more div:last-child {
  margin-left: 10px;
}
.friends-screen__channel span {
  font-size: smaller;
}
